* {
    margin: 0px; padding: 0px;
  }
  
  body {
    display: flex;
    overflow: hidden;
    flex: 1;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .AppMapReports {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .work-areaMapReports {
    display: flex;
    flex-direction: row;
    flex: 1;
  }