* {
    margin: 0px; padding: 0px;
  }

  .AppReporte {
    height:100%;
    flex-direction: column;
    display: flex;
    //padding-right: 20px;
  }
  
  .work-areaReporte {
    flex-direction: row;
    height: 100%;
    display: flex;
  }
