.Unauthorized {
    //background-image: linear-gradient(to right, #3e3e3e, #52dab3);
    background-image: url("../assets/LoginKeyCity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 20px;
    text-align: center;
}