.map_containerGoogleReportes {
    display: flex;
    height: auto;
    width: 50%;
    //margin-bottom: 1%;
}

.cajacheck {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -12px;
}

.cajacheck label{
    font-size: 13px;
}