.css-1x51dt5-MuiInputBase-input-MuiInput-input{
    text-align: left;
    //font-size: 13px;
}

.css-13xfq8m-MuiTabPanel-root {
    padding: 10px;
}

.BoxInfo{
    margin-left: 5%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
}

b{
    width: 200px;
    //background-color: aqua;
}