.TraficoSensores {

    margin: 1px;
}

.filtros-grafica {
    margin-bottom: 10px;
    border-bottom: 1px dotted #dedede;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.grafica-container {
    width: 100%;
}